@import "tailwindcss";

:root { color-scheme: light; }
html, body { height: 100%; }
body { background:#faf7f5; }
.font-serif { font-family: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; }
